body {
    text-align: center;
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 27%, rgba(10, 240, 183, 1) 62%);
}

#image1 {
    width: 350px;
    height: 250px;
}
p {
    font-size: 20px;
}
.li{
    margin-right: 10px;
    cursor: pointer;
}
